html, body {
  height: 100%;
  width: 100%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: white;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
table, tr, td {
  border:1px solid black;
}
h1{
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
table{
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.strike {
  /*text-decoration: line-through;
  text-decoration-color: solid black;*/
  color: green;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.row{
  width: 100px;
  font-size: 2em;
  display: block;
  padding: 15px 32px 15px;
  color: black;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.player{
  width: 20%;
  height:140px;
  text-align:center;
}
.player1{
  background-color: #7FC792;
  border: solid black;
}
.player2{
  background-color: #7ED7DE;
  border: solid black;
}
.hidden{
  visibility:hidden;
  color: solid black;
}