<div >
    <nav>
        <ul>
          <li><a routerLink="/dashboard/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
          <li><a routerLink="/dashboard/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a></li>
          <li><a routerLink="/../login" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="logout()" id="logout">logout</a></li>
          <li><a routerLink="/dashboard/pipes" routerLinkActive="active" ariaCurrentWhenActive="page">Pipes</a></li>
          <li><a routerLink="/dashboard/reset" routerLinkActive="active" ariaCurrentWhenActive="page">Reset</a></li>
        </ul>
      </nav>
</div>
    